.Spaced{
    padding: 50px;
    padding-left: 650px;
    padding-right: 100px;
}


h1{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 10px;
  }


  .card{
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-color: aliceblue !important;
    border-radius: 20px !important;
    border-width: 0px !important;
    padding:20px
  }


  button{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #ffffff ;
    border-radius: 20px !important;
    border-width: 0px ;
    color: aliceblue ;
    font-size: 16px ;
    font-weight: bold ;
    padding: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px !important;
    margin-left: 215px !important;   /* Shushhhh You did not see anything, Don't tell me its not centered*/

  }

  .Description{
    color: aliceblue;
    height: 150px;
    width: 500px;
    resize: none;
  }